<p>
    Dear <%= contact.first_name %>,
    <br/>
    Please take notice of the following alert, that could possibly lead to an SLA breach.
</p>

<h4><%= alert.message %></h4>

<p>
    Alert Details: <a href="<%= alert_url %>"><%= alert.group ? "#{alert.group.name} - " : '' %><%= alert.id %></a>
</p>

<h5>Affected Services:</h5>

<ul>
    <% alert.services.each do |service| -%>
    <li><a href="<%= service.icinga2_host_link(monitoring_base_url) %>"><%= service.full_name %></a></li>
    <% end -%>
</ul>

<p>
    In order to directly acknowledge this alert, please use this <a href="<%= acknowledge_url %>">link</a>.
</p>
<p>
    Your faithful alert servant,
    <br/>
    Onduty
</p>