<div class="row">
  <content class="col-md-9" role="main">
    <div class="page-header">
      <h1>Alerts</h1>
    </div>

    <% if @alerts.size == 0 %>
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <strong>Yippee!</strong> No alerts found!
        <% unless params[:days] == 'all' %><a href="/alerts?days=all" class="alert-link">Show all.</a><% end %>
      </div>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Created At</th>
            <th>Message</th>
            <th>Acknowledged At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
      <% @alerts.each do |alert| %>
          <tr>
            <td><b><a href="/alerts/<%= alert.id %>"><%= alert.id %></a></b></td>
            <td><b><a href="/alerts/<%= alert.id %>"><%= h_time(alert.created_at) %></a></b></td>
            <td><%= alert.message %></td>
            <td><%= h_time(alert.acknowledged_at) %></td>
            <td>
              <a href="/alerts/<%= alert.id %>" class="btn btn-sm btn-primary">Show</a>
            </td>
          </tr>
      <% end %>
        </tbody>
      </table>
    <% end %>

    <p>
      <a type="button" class="btn btn-success" href="/alerts/new">
        New Alert
      </a>
    </p>
  </content>

  <sidebar class="col-md-3">
    <menu class="hidden-print" role="complementary">
      <h4>Time Filter</h4>
      <ul class="nav nav-pills nav-stacked">
        <li <% if params[:days] == '2' || params[:days] == nil %>class="active"<% end %>>
          <a href="/alerts">Last 2 days</a>
        </li>
        <li <% if params[:days] == '30' %>class="active"<% end %>>
          <a href="/alerts?days=30">Last 30 days</a>
        </li>
        <li <% if params[:days] == 'all' %>class="active"<% end %>>
          <a href="/alerts?days=all">All</a>
        </li>
      </ul>
      <h4>Acknowledged Filter</h4>
      <ul class="nav nav-pills nav-stacked">
        <li <% if params[:acknowledged] == 'false' %>class="active"<% end %>>
          <a href="/alerts?acknowledged=false">Unacknowledged</a>
        </li>
        <li <% if params[:acknowledged] == 'true' %>class="active"<% end %>>
          <a href="/alerts?acknowledged=true">Acknowledged</a>
        </li>
        <li <% if params[:acknowledged] == 'all' || params[:acknowledged] == nil  %>class="active"<% end %>>
          <a href="/alerts?days=<%= %>&acknowledged=all">All</a>
        </li>
      </ul>
    </menu>
  </sidebar>
</div>
