<div class="row">
  <content class="col-md-9" role="main">
    <div class="page-header">
      <h1>Groups</h1>
    </div>

    <% if @groups.size == 0 %>
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <strong>No groups yet... </strong>
        <a href="/groups/new" class="alert-link">Create on!</a>
      </div>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Onduty</th>
            <th>Position</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><b><a href="/groups/<%= group.id %>"><%= group.name %></a></b></td>
              <td>
                <% if onduty = Onduty::Contact.where(group_id: group.id, duty: 1).first %>
                  <a href="/contacts/<%= onduty.id %>"><%=  onduty.name %></a>
                <% end -%>
              </td>
              <td>
                <form action="/groups/<%= group.id %>/reposition/" method="post">
                  <button type="submit" name="value" value="+1" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                  </button>
                  <span class="label label-primary"><%= group.position %></span>
                  <button type="submit" name="value" value="-1" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                  </button>
                </form>
              </td>
              <td>
                <a href="/groups/<%= group.id %>" class="btn btn-xs btn-primary">Show</a>
                <a href="/groups/<%= group.id %>/edit" class="btn btn-xs btn-success">Edit</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @groups, 'groups' %>
    <% end %>

    <p>
      <a type="button" class="btn btn-success" href="/groups/new">
        New Group
      </a>
    </p>
  </content>
</div>
