<div class="row">
  <content class="col-md-9" role="main">
    <h1 class="page-header"><%= @title %></h1>
    <form role="form" class="form-horizontal col-md-10" action="/contacts/<%= @method %>" method='POST'>

      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input name="contact[first_name]" id="first_name" placeholder="First Name" class="form-control" value="<%= @contact.first_name if @contact %>">
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input name="contact[last_name]" id="last_name" placeholder="Last Name" class="form-control" value="<%= @contact.last_name if @contact %>">
        </div>
      </div>

      <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
          <input name="contact[phone]" id="phone" placeholder="Phone" class="form-control" value="<%= @contact.phone if @contact %>">
          <span id="helpBlock" class="help-block">Please enter number in international format, i.e. +41 32 322 22 33.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input name="contact[email]" id="email" placeholder="Email" class="form-control" value="<%= @contact.email if @contact %>">
        </div>
      </div>

      <% if false %>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Duty</label>
        <div class="col-sm-10">
          <select name="contact[duty]">
            <% Onduty::Duty.types.each do |id, name| %>
              <% unless @contact.duty == id %>
                <option value="<%= id %>"><%= name %></option>
              <% else %>
                <option value="<%= id %>" selected><%= name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <% end %>

      <div class="form-group">
        <label for="status" class="col-sm-2 control-label">Alerts</label>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="contact[alert_by_sms]" value="1" <%= 'checked="true"' if @contact.alert_by_sms == 1 %>">
              Alert by SMS
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="contact[alert_by_email]" value="1" <%= 'checked="true"' if @contact.alert_by_email == 1 %>">
              Alert by Email
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a href="/contacts" class="btn btn-primary">Cancel</a>
          <button type="submit" class="btn btn-danger"><%= @title %></button>
        </div>
      </div>
    </form>
  </content>
</div>
