<div class="row">
  <content class="col-md-9" role="main">
    <div class="page-header">
      <h1>Contacts</h1>
    </div>

    <% if @contacts.size < 1 %>

      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <strong>No contacts found...</strong>
        <% unless params[:duty] == 'all' && params[:group] == 'all' %>
          <a href="/contacts" class="alert-link">Show all contacts.</a>
        <% end %>
      </div>

    <% else %>

      <% @contacts.group_by{|c| c.group.name rescue '-' }.each do |group_name, contacts| -%>
      <h3>
        <a href="/groups/<%= contacts.first.group_id %>">
          <span class="glyphicon glyphicon-folder-open"></span>
        </a>
        &nbsp;<%= group_name %>
      </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Duty</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% contacts.each do |contact| %>
            <tr>
              <td>
                <b><a href="/contacts/<%= contact.id %>"><%= contact.name %></a></b>
              </td>
              <td>
                <%= formated_phone(contact.phone) %>
              </td>
              <td>
                <% if contact.duty == 1 -%>
                  <button class="btn btn-xs btn-danger">on duty</button>
                <% else -%>
                  <form action="/duties/" method="post">
                    <input type="hidden" name="contact_id" value="<%= contact.id %>" readonly />
                    <button title="Set on duty" data-toggle="tooltip" data-placement="top" type="submit" name="id" value="1" class="btn btn-xs btn-default">off duty</button>
                  </form>
                <% end -%>
              </td>
              <td>
                <a href="/contacts/<%= contact.id %>" class="btn btn-xs btn-primary">Show</a>
                <a href="/contacts/<%= contact.id %>/edit" class="btn btn-xs btn-success">Edit</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <% end %>
    <% end %>


    <p>
      <a type="button" class="btn btn-success" href="/contacts/new">
        New Contact
      </a>
    </p>
  </content>

  <sidebar class="col-md-3">
    <div class="page-header">
      <h3>Filters</h3>
    </div>
    <menu class="hidden-print" role="complementary">
      <h4>Duty</h4>
      <ul class="nav nav-pills nav-stacked">
        <li <% if params[:duty] == 'all' || params[:duty] == nil  %>class="active"<% end %>>
          <a href="/contacts?<%= merge_query_string(duty: 'all') %>">All</a>
        </li>
        <li <% if params[:duty].to_s == 'primary' %>class="active"<% end %>>
          <a href="/contacts?<%= merge_query_string(duty: 'primary') %>">Primary</a>
        </li>
        <li <% if params[:duty].to_s == 'escalation' %>class="active"<% end %>>
          <a href="/contacts?<%= merge_query_string(duty: 'escalation') %>">Escalation</a>
        </li>
      </ul>
      <hr>
      <h4>Group</h4>
      <ul class="nav nav-pills nav-stacked">
        <li <% if params[:group] == 'all' || params[:group] == nil %>class="active"<% end %>>
          <a href="/contacts?<%= merge_query_string(group: "all") %>">All</a>
        </li>
        <% Onduty::Group.all.each do |group| -%>
          <li<%= ' class="active"' if params[:group].to_s == group.id.to_s %>>
            <a href="/contacts?<%= merge_query_string(group: group.id) %>")><%= group.name %></a>
          </li>
        <% end -%>
      </ul>
    </menu>
  </sidebar>
</div>
