<div class="row">
  <content class="col-md-9" role="main">
    <div class="page-header">
      <h1>On Duty Contacts</h1>
    </div>

    <% if @contacts.size == 0 %>
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <strong>Boring!</strong> No contacts yes.
        <a href="/contacts/new" class="alert-link">Create on!</a>
      </div>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><b><a href="/contacts/<%= contact.id %>"><%= contact.name %></a></b></td>
              <td>
                <% if contact.duty %>
                <div class="btn-group">
                  <span class="label label-<%= status_badge(contact.duty) %>">
                    <%= Onduty::Duty.types[contact.duty] %></span>
                </div>
                <% end %>
              </td>
              <td><%= contact.phone %></td>
              <td>
                <a href="/contacts/<%= contact.id %>" class="btn btn-sm btn-primary">Show</a>
                <a href="/contacts/<%= contact.id %>/edit" class="btn btn-sm btn-success">Edit</a>
                <a href="/contacts/<%= contact.id %>/delete" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <p>
      <a type="button" class="btn btn-success" href="/contacts/new">
        New Contact
      </a>
    </p>
  </content>

  <sidebar class="col-md-3">
    <div class="page-header">
      <h3>Manage Duties</h3>
    </div>
    <% Onduty::Duty.types.reject{|id, name| id == 0}.each do |id, name| %>
      <h4><%= name %></h4>
      <form action="/duties/<%= id %>/" method="post">
        <select name="contact_id" onchange="this.form.submit()" class="selectpicker" data-style="btn-<%= status_badge(id) %>">
            <option>-</option>
          <% @contacts.each do |contact| %>
            <% unless contact.duty == id %>
              <option value="<%= contact.id %>"><%= contact.name %></option>
            <% else %>
              <option value="<%= contact.id %>" selected><%= contact.name %></option>
            <% end %>
          <% end %>
        </select>
      </form>
    <% end %>
  </sidebar>
</div>
