<div class="row">
  <content class="col-md-9" role="main">
    <div class="page-header">
      <h1>Contacts</h1>
    </div>

    <% if @contacts.size < 1 %>

      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <strong>No contacts yet... </strong>
        <a href="/contacts/new" class="alert-link">Create on!</a>
      </div>

    <% else %>

      <% @contacts.group_by{|c| c.group.name }.each do |group_name, contacts| -%>
      <h2><a href="/groups/<%= contacts.first.group_id %>"><%= group_name %></a></h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Set duties</th>
          </tr>
        </thead>
        <tbody>
          <% contacts.each do |contact| %>
            <tr>
              <td>
                <b><a href="/contacts/<%= contact.id %>"><%= contact.name %></a></b>
              </td>
              <td>
                <% if contact.duty -%>
                <div class="btn-group">
                  <span class="label label-<%= status_badge(contact.duty) %>"><%= Onduty::Duty.types[contact.duty] %></span>
                </div>
                <% end -%>
              </td>
              <td>
                <form action="/duties/" method="post">
                  <input type="hidden" name="contact_id" value="<%= contact.id %>" readonly />
                  <button type="submit" name="id" value="1" class="btn btn-xs btn-danger"<%= ' disabled="disabled"' if contact.duty == 1 %>>Primary</button>
                  <button type="submit" name="id" value="2" class="btn btn-xs btn-primary"<%= ' disabled="disabled"' if contact.duty == 2 %>>Escalation</button>
                </form>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% end %>
    <% end %>

    <p>
      <a type="button" class="btn btn-success" href="/contacts/new">
        New Contact
      </a>
    </p>
  </content>
</div>
