<div class="page-header">
  <h1><%= @contact.name %></h1>
</div>

<table class="table table-striped" style="width: 50%;">
	<tr>
		<th>Name</th>
		<td><%= @contact.name %></td>
	</tr>
  <tr>
    <th>Phone</th>
    <td><%= formated_phone(@contact.phone) %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @contact.email %></td>
  </tr>
  <tr>
    <th>Alerts</th>
    <td>
      <ul>
        <li>Email: <%= @contact.alert_by_email == 1 ? 'yes' : 'no' %></li>
        <li>SMS: <%= @contact.alert_by_sms == 1 ? 'yes' : 'no' %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Group</th>
    <td>
      <% if @contact.group %>
        <a href="/groups/<%= @contact.group.id %>"><%= @contact.group.name %></a>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Status</th>
    <td>
      <form action="/duties/" method="post">
        <input type="hidden" name="contact_id" value="<%= @contact.id %>" readonly />
        <button title="<%= @contact.duty == 0 ? 'Set on duty' : 'Set off duty' %>"
          data-toggle="tooltip" data-placement="top" type="submit" name="id"
          value="<%= (@contact.duty - 1).abs %>"
          class="btn btn-xs btn-<%= @contact.duty == 0 ? 'default' : 'danger' -%>">
          <%= @contact.duty == 0 ? "off duty" : "on duty" -%>
        </button>
      </form>
    </td>
  </tr>
</table>

<hr>
<a href="/contacts" class="btn btn-default">Back</a>
<a href="/contacts/<%= @contact.id %>/edit" class="btn btn-success">Edit</a>
<a href="/contacts/<%= @contact.id %>/delete" class="btn btn-danger">Delete</a>
