<div class="page-header">
  <h1><%= @contact.name %></h1>
</div>

<table class="table table-striped" style="width: 50%;">
	<tr>
		<th>Name</th>
		<td><%= @contact.name %></td>
	</tr>
  <tr>
    <th>Phone</th>
    <td><%= @contact.phone %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @contact.email %></td>
  </tr>
  <tr>
    <th>Alerts</th>
    <td>
      <ul>
        <li>Email: <%= @contact.alert_by_email == 1 ? 'yes' : 'no' %></li>
        <li>SMS: <%= @contact.alert_by_sms == 1 ? 'yes' : 'no' %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Status</th>
    <td>
      <% if false %>
      <form action="/contacts/<%= @contact.id %>/status" method="post" style="display: inline-block">
        <div class="btn-group">
          <% if @contact.status && @contact.status == 1 %>
            <button type="button" class="btn btn-sm btn-danger">Onduty</button>
          <% else %>
            <button type="submit" class="btn btn-sm btn-default" name="status" value='1'>Onduty</button>
          <% end %>
          <% if @contact.status && @contact.status == 2 %>
            <button type="button" class="btn btn-sm btn-primary">Escalation</button>
          <% else %>
            <button type="submit" class="btn btn-sm btn-default" name="status" value='2'>Escalation</button>
          <% end %>
        </div>
      </form>
      <% end %>
    </td>
  </tr>
</table>

<hr>
<a href="/contacts" class="btn btn-default">Back</a>
<a href="/contacts/<%= @contact.id %>/edit" class="btn btn-success">Edit</a>
<a href="/contacts/<%= @contact.id %>/delete" class="btn btn-danger">Delete</a>
