<div class="row">
  <content class="col-md-9" role="main">
    <h1 class="page-header"><%= @title %></h1>
    <form role="form" class="form-horizontal col-md-8" action="/alerts/<%= @method %>" method='POST'>

      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <input name="alert[name]" id="name" placeholder="Name" class="form-control" value="<%= @alert.name if @alert %>">
        </div>
      </div>

      <div class="form-group">
        <label for="services_sring" class="col-sm-3 control-label">Affected Services</label>
        <div class="col-sm-9">
          <textarea name="alert[services_string]" id="services_string" class="form-control" value="<%= @alert.services_string if @alert %>" rows="3"></textarea>
          <span id="helpBlock" class="help-block">
            Enter one service per line:<br>
            <code>&lt;host-name&gt;!&lt;service-name&gt;</code>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="group" class="col-sm-3 control-label">Group</label>
        <div class="col-sm-9">
          <select name="alert[group]" class="selectpicker">
            <% Onduty::Group.all.each do |group| %>
              <% unless @alert.group_id == group.id %>
                <option value="<%= group.id %>"><%= group.name %></option>
              <% else %>
                <option value="<%= group.id %>" selected><%= group.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="force" value="1" checked="0"> Force Notification
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <a href="/alerts<%= alerts_link_filter %>" class="btn btn-primary">Cancel</a>
          <button type="submit" class="btn btn-success"><%= @title %></button>
        </div>
      </div>
    </form>
  </content>
</div>
