<div class="row">
  <content class="col-md-9" role="main">
    <h1 class="page-header"><%= @title %></h1>
    <form role="form" class="form-horizontal col-md-8" action="/alerts/<%= @method %>" method='POST'>

      <div class="form-group">
        <label for="host" class="col-sm-4 control-label">Host</label>
        <div class="col-sm-8">
          <input name="alert[host]" id="host" placeholder="Host" class="form-control" value="<%= @alert.host if @alert %>">
        </div>
      </div>

      <div class="form-group">
        <label for="service" class="col-sm-4 control-label">Service</label>
        <div class="col-sm-8">
          <input name="alert[service]" id="service" placeholder="Service" class="form-control" value="<%= @alert.service if @alert %>">
        </div>
      </div>

      <div class="form-group">
        <label for="notification_type" class="col-sm-4 control-label">Notification Type</label>
        <div class="col-sm-8">
          <input name="alert[notification_type]" type='text' id="notification_type" placeholder="Notification Type" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="service_state" class="col-sm-4 control-label">Service State</label>
        <div class="col-sm-8">
          <input name="alert[service_state]" type='text' id="service_state" placeholder="Service State" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <a href="/alerts" class="btn btn-primary">Cancel</a>
          <button type="submit" class="btn btn-danger"><%= @title %></button>
        </div>
      </div>
    </form>
  </content>
</div>
