<div class="row">
  <content class="col-md-9" role="main">
    <h1 class="page-header"><%= @title %></h1>
    <form role="form" class="form-horizontal col-md-8" action="/alerts/<%= @method %>" method='POST'>

      <div class="form-group">
        <label for="topic" class="col-sm-3 control-label">Topic</label>
        <div class="col-sm-9">
          <input name="alert[topic]" id="topic" placeholder="Topic" class="form-control" value="<%= @alert.topic if @alert %>">
        </div>
      </div>

      <div class="form-group">
        <label for="services_sring" class="col-sm-3 control-label">Affected Services</label>
        <div class="col-sm-9">
          <textarea name="alert[services_string]" id="services_string" class="form-control" value="<%= @alert.services_string if @alert %>" rows="3"></textarea>
          <span id="helpBlock" class="help-block">Enter one service per line.</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <a href="/alerts<%= alerts_link_filter %>" class="btn btn-primary">Cancel</a>
          <button type="submit" class="btn btn-danger"><%= @title %></button>
        </div>
      </div>
    </form>
  </content>
</div>
