<div class="row">
  <content class="col-md-9" role="main">
    <div class="page-header">
      <h1>Alerts</h1>
    </div>

    <% if @alerts.size < 1 %>
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        No alerts found! <strong>:-)</strong>
        <% unless params[:days] == 'all' %>
          <a href="/alerts?days=all" class="alert-link">Show all alerts?</a>
        <% end %>
      </div>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Alert</th>
            <th>Count</th>
            <th>Group</th>
            <th>Created At</th>
            <% unless params[:ack] == 'true' -%>
            <th class="text-right">Actions</th>
            <% end -%>
          </tr>
        </thead>
        <tbody>
      <% @alerts.each do |alert| %>
          <tr <%= 'class="success"' if alert.acknowledged_at %>>
            <td>
              <b>
                <a href="/alerts/<%= alert.id %>"><%= alert.name %></a>
              </b>
            </td>
            <td>
              <span class="badge"><%= alert.count %></span>
            </td>
            <td><%= alert.group ? alert.group.name : "-" %></td>
            <td><%= h_time(alert.created_at) %></td>
            <% unless params[:ack] == 'true' -%>
            <td class="text-right">
              <% unless alert.acknowledged_at -%>
                <form action="/alerts/<%= alert.id %>/acknowledge?uid=<%= alert.uid %>" method="post" style="display: inline-block">
                  <button type="submit" class="btn btn-xs btn-success">Acknowledge</button>
                </form>
              <% end -%>
            </td>
            <% end -%>
          </tr>
      <% end %>
        </tbody>
      </table>

      <nav aria-label="pagination">
        <ul class="pager">
          <% if not @alerts.first_page? -%>
            <li class="previous">
              <a href="/alerts?<%= merge_query_string(page: @alerts.prev_page) %>">
                <span aria-hidden="true">&larr;</span> Newer</a>
            </li>
          <% end -%>
          <% if not @alerts.last_page? -%>
            <li class="next"><a href="/alerts?<%= merge_query_string(page: @alerts.next_page) %>">
              Older <span aria-hidden="true">&rarr;</span></a>
            </li>
          <% end -%>
        </ul>
      </nav>

    <% end %>
  </content>

  <sidebar class="col-md-3">
    <menu class="hidden-print" role="complementary">
      <div class="page-header">
        <h3>Actions</h3>
      </div>

      <div class="btn-group-vertical" role="group" aria-label="actions">
        <form action="/alerts/new" method="get">
          <button class="btn btn-primary" type="submit">New Alert</button>
        </form>
        <br>
        <form action="/alerts/acknowledge-old" method="post">
          <button class="btn btn-success" type="submit">Acknowledge old alerts</button>
        </form>
      </div>

      <div class="page-header">
        <h3>Filters</h3>
      </div>

      <h4>Acknowledged</h4>
      <ul class="nav nav-pills nav-stacked">
        <li <% if params[:ack] == 'all' || params[:ack] == nil  %>class="active"<% end %>>
          <a href="/alerts?<%= merge_query_string(ack: "all") %>">All</a>
        </li>
        <li <% if params[:ack] == 'false' %>class="active"<% end %>>
          <a href="/alerts?<%= merge_query_string(ack: "false") %>">Unacknowledged</a>
        </li>
        <li <% if params[:ack] == 'true' %>class="active"<% end %>>
          <a href="/alerts?<%= merge_query_string(ack: "true") %>">Acknowledged</a>
        </li>
      </ul>
      <hr>

      <h4>Group</h4>
      <ul class="nav nav-pills nav-stacked">
        <li <% if params[:group_id] == 'all' || params[:group_id] == nil  %>class="active"<% end %>>
          <a href="/alerts?<%= merge_query_string(group_id: "all") %>">All</a>
        </li>
        <% Onduty::Group.all.each do |group| %>
          <li<%= ' class="active"' if params[:group_id] == group.id.to_s %>>
            <a href="/alerts?<%= merge_query_string(group_id: group.id) %>"><%= group.name %></a>
          </li>
        <% end %>
      </ul>

      <h4>Time</h4>
      <ul class="nav nav-pills nav-stacked">
        <li <% if params[:days] == 'all' %>class="active"<% end %>>
          <a href="/alerts?<%= merge_query_string(days: "all") %>">All</a>
        </li>
        <li <% if params[:days] == '1'  %>class="active"<% end %>>
          <a href="/alerts?<%= merge_query_string(days: "1") %>">Today</a>
        </li>
        <li <% if params[:days] == '7' || params[:days] == nil %>class="active"<% end %>>
          <a href="/alerts?<%= merge_query_string(days: "7") %>">Last week</a>
        </li>
        <li <% if params[:days] == '30' %>class="active"<% end %>>
          <a href="/alerts?<%= merge_query_string(days: "30") %>">Last 4 weeks</a>
        </li>
      </ul>
      <hr>

    </menu>
  </sidebar>
</div>
