<div class="page-header">
  <h1>Alert details</h1>
</div>

<table class="table table-striped" style="width: 50%;">
  <tr>
    <th>Topic</th>
    <td><%= @alert.topic %></td>
  </tr>
  <tr>
    <th>Message</th>
    <td><%= @alert.message %></td>
  </tr>
  <tr>
    <th>UID</th>
    <td><%= @alert.uid %></td>
  </tr>
  <tr>
    <th>Affected Services</th>
    <td>
      <% @alert.services.each do |service| -%>
        <%= service.name %><br>
      <% end -%>
    </td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= @alert.created_at %></td>
  </tr>
  <tr>
    <th>Acknowledged at</th>
    <td>
      <% if @alert.acknowledged_at -%>
        <span class="glyphicon glyphicon-ok">&nbsp;</span>
        <%= @alert.acknowledged_at %>
      <% else %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Last alerted at</th>
    <td>
      <% if @alert.last_alert_at -%>
        <%= @alert.last_alert_at %>
      <% else %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </td>
  </tr>
</table>

<hr>
<a href="/alerts<%= alerts_link_filter %>" class="btn btn-default">Back</a>
<% if @alert.acknowledged_at %>
  <a href="/alerts/<%= @alert.id %>/delete" class="btn btn-danger">Delete</a>
<% else %>
  <form action="/alerts/<%= @alert.id %>/acknowledge?uid=<%= @alert.uid %>" method="post" style="display: inline-block">
    <button type="submit" class="btn btn-primary">Acknowledge</button>
  </form>
  <form action="/alerts/<%= @alert.id %>/alert" method="post" style="display: inline-block">
    <button type="submit" class="btn btn-danger">Alert</button>
  </form>
  <% if @alert.last_alert_at %>
  <form action="/alerts/<%= @alert.id %>/alert/2" method="post" style="display: inline-block">
    <button type="submit" class="btn btn-danger">Escalate</button>
  </form>
  <% end %>
<% end %>
