<% if authorized? -%>
  <div class="page-header">
    <h1>Alert Details</h1>
  </div>

  <table class="table table-striped" style="width: 65%;">
    <tr>
      <th><%= @alert.notification_type %></th>
      <td><%= @alert.name %></td>
    </tr>
    <tr>
      <th>Group</th>
      <td>
        <% if @alert.group -%>
          <a href="/groups/<%= @alert.group_id %>" ><%= @alert.group.name %></a>
        <% else -%>
          -
        <% end -%>
      </td>
    </tr>
    <tr>
      <th>UID</th>
      <td><%= @alert.uid %></td>
    </tr>
    <tr>
      <th>Affected Services</th>
      <td>
        <ul>
        <% @alert.services.each do |service| -%>
          <li>
            <% if settings.icinga2_web_path -%>
            <a href="<%= service.icinga2_host_link(settings.icinga2_web_path) %>" target="blank">
              <%= service.host %>
            </a> -
            <a href="<%= service.icinga2_service_link(settings.icinga2_web_path) %>" target="blank">
              <%= service.name %>
            </a>
            <% else %>
              <%= service.host %> : <%= service.name %>
            <% end -%>
          </li>
        <% end -%>
        </ul>
      </td>
    </tr>
    <tr>
      <th>Count</th>
      <td>
        <span class="badge"><%= @alert.count %></span>
      </td>
    </tr>
    <tr>
      <th>Acknowledged</th>
      <td>
        <% if @alert.acknowledged_at -%>
          <span class="glyphicon glyphicon-ok">&nbsp;</span>
          <br/>
          <%= h_time(@alert.acknowledged_at) %>
        <% else %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Creation</th>
      <td><%= h_time(@alert.created_at) %></td>
    </tr>
    <tr>
      <th>Last Update</th>
      <td><%= h_time(@alert.updated_at) %></td>
    </tr>
    <tr>
      <th>Last Alert</th>
      <td>
        <% if @alert.last_alert_at -%>
          <%= h_time(@alert.last_alert_at) %>
        <% else %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
    </tr>
  </table>

  <hr>
  <a href="/alerts<%= alerts_link_filter %>" class="btn btn-default">Back</a>

  <% unless @alert.acknowledged_at -%>
  <form action="/alerts/<%= @alert.id %>/acknowledge?uid=<%= @alert.uid %>" method="post" style="display: inline-block">
    <button type="submit" class="btn btn-success">Acknowledge</button>
  </form>
  <% end -%>
  <% if settings.notification_plugins.size > 0 -%>
  <form action="/alerts/<%= @alert.id %>/alert" method="post" style="display: inline-block">
    <button type="submit" class="btn btn-primary">Trigger Alert</button>
  </form>
  <% end -%>
<% end -%>
