<div class="page-header">
  <h1><%= @contact.name %></h1>
</div>

<table class="table table-striped" style="width: 30%;">
	<tr>
		<th>Name</th>
		<td><%= @contact.name %></td>
	</tr>
  <tr>
    <th>Phone</th>
    <td><%= @contact.phone %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @contact.email %></td>
  </tr>
  <tr>
    <th>Alerts</th>
    <td>
      <ul>
        <li>Email: <%= @contact.alert_by_email == 1 ? 'yes' : 'no' %></li>
        <li>SMS: <%= @contact.alert_by_sms == 1 ? 'yes' : 'no' %></li>
        <li>Phone: <%= @contact.alert_by_phone == 1 ? 'yes' : 'no' %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Status</th>
    <td><span class="label label-<%= status_badge(@contact.status) %>"><%= Contact.states[@contact.status] %></span></td>
  </tr>
</table>

<hr>
<a href="/contacts" class="btn btn-sm btn-default">Cancel</a>
<a href="/contacts/<%= @contact.id %>/edit" class="btn btn-sm btn-success">Edit</a>
<a href="/contacts/<%= @contact.id %>/delete" class="btn btn-sm btn-danger">Delete</a>
