<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Onduty <%= "| #{@title}" if @title %>
    </title>

    <link rel="shortcut icon" type="image/png" href="/images/onduty.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <header>
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <a href="/settings">
              <span class="glyphicon glyphicon-wrench"></span> Settings
            </a>
          </li>
          <li role="presentation">
            <a href="/contacts">
              <span class="glyphicon glyphicon-user"></span> Contacts
            </a>
          </li>
          <li role="presentation">
            <a href="/alerts<%= alerts_link_filter %>">
              <span class="glyphicon glyphicon-exclamation-sign"></span> Alerts
            </a>
          </li>
        </ul>
        <h3>
          <a href="/alerts">
            <img width="80" height="80" src="/images/onduty.png">
          </a>
        </h3>
      </header>

      <main>
        <div class="row">
          <% %w(info success danger).each do |type| -%>
            <% if flash[type.to_sym] -%>
              <div class="alert alert-<%= type %> col-md-6">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= flash[type.to_sym] %>
              </div>
            <% end -%>
          <% end -%>
          <% if settings.notification_plugins.size == 0 -%>
            <div class="alert alert-warning col-md-6">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              No notification plugin configured!
            </div>
          </div>
        <% end -%>
        <%= yield %>
      </main>
    </div> <!-- /container -->

    <footer>
      <div class="container">
        <p class="text-muted">
          OnDuty <%= Onduty::VERSION %> | &copy; <%= Time.now.year %>
        </p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/javascript/bootstrap-select.min.js"></script>
  </body>
</html>
