<div class="row">
  <content class="col-md-12" role="main">
    <div class="page-header">
      <h1>Alarm Statistics</h1>
    </div>

    <ul class="nav nav-tabs">
      <li role="presentation"<%= ' class="active"' if params[:days] == "7" %>>
        <a href="/?days=7">7 days</a>
      </li>
      <li role="presentation"<%= ' class="active"' if params[:days] == "14" %>>
        <a href="/?days=14">2 weeks</a>
      </li>
      <li role="presentation"<%= ' class="active"' if params[:days] == "30" || params[:days] == nil  %>>
        <a href="/?days=30">1 month</a>
      </li>
      <li role="presentation"<%= ' class="active"' if params[:days] == "60" %>>
        <a href="/?days=60">2 month</a>
      </li>
    </ul>

    <br>
    <script src="/javascript/chartkick.js"></script>
    <%= column_chart @groups.map { |group| {
        name: group.name,
        data: @stats.alerts_by_group_and_day(group_id: group.id, since_days: params[:days] ? params[:days].to_i : 30).map { |day|
          [ day['_id']['day'], day["sum"] ]
        }}}, defer: true %>
    <br>

    <section class="col-md-6">
      <h3>Alarms by Group</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pos.</th>
            <th>Group</th>
            <th># Alerts</th>
          </tr>
        </thead>
        <tbody>
          <% @stats.alerts_by_group(since_days: params[:days] ? params[:days].to_i : 30).each_with_index do |group, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td>
                <a href="/groups/<%= group["_id"] %>">
                  <%= @groups.detect{|g| g.id == group["_id"] }&.name || "unknown" %>
                </a>
              </td>
              <td>
                <span class="badge"><%= group["sum"] %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>

    <section class="col-md-6">
      <h3>Top Alarms</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pos.</th>
            <th>Service</th>
            <th># Alerts</th>
          </tr>
        </thead>
        <tbody>
          <% @stats.alerts_by_service(since_days: params[:days] ? params[:days].to_i : 30).each_with_index do |service, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td>
                <%= service["_id"] %>
              </td>
              <td>
                <span class="badge"><%= service["sum"] %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>

  </content>
</div>
