<div class="row">
  <content class="col-md-12" role="main">
    <div class="page-header">
      <h1>Alarm Statistics</h1>
    </div>

    <div class="pull-right">
      <b>Alert Count:</b>
      <a type="button"
        class="btn btn-default btn-xs<%= " active" if @alert_count_limit == 0 %>"
        href="/stats?<%= merge_query_string(alert_count: 0) %>">
        1
      </a>
      <a type="button"
        class="btn btn-default btn-xs<%= " active" if @alert_count_limit == 1 %>"
        href="/stats?<%= merge_query_string(alert_count: 1) %>">
        > 1
      </a>
    </div>

    <ul class="nav nav-tabs">
      <li role="presentation"<%= ' class="active"' if @since_days == 7 %>>
        <a href="/stats?<%= merge_query_string(days: 7) %>">7 days</a>
      </li>
      <li role="presentation"<%= ' class="active"' if @since_days == 14 %>>
        <a href="/stats?<%= merge_query_string(days: 14) %>">2 weeks</a>
      </li>
      <li role="presentation"<%= ' class="active"' if @since_days == 30 || params[:days] == nil  %>>
        <a href="/stats?<%= merge_query_string(days: 30) %>">1 month</a>
      </li>
      <li role="presentation"<%= ' class="active"' if @since_days == 60 %>>
        <a href="/stats?<%= merge_query_string(days: 60) %>">2 month</a>
      </li>
    </ul>

    <br>
    <script src="/javascript/chartkick.js"></script>
    <%= column_chart @stats.alerts_by_group_and_day.group_by {|stat|
            stat["_id"]['group_id'] }.map { |group_id, data| {
              name: @groups.detect{|g| g.id == group_id }&.name,
              data: data.map { |day| [ day["_id"]["day"], day["sum"] ] }
            }
        }, defer: true  %>
    <br>

    <section class="col-md-6">
      <h3>Alarms by Group</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Group</th>
            <th># Alerts</th>
          </tr>
        </thead>
        <tbody>
          <% @stats.alerts_by_group.each do |group| %>
            <tr>
              <td>
                <a href="/groups/<%= group["_id"] %>">
                  <%= @groups.detect{|g| g.id == group["_id"] }&.name || "unknown" %>
                </a>
              </td>
              <td>
                <span class="badge"><%= group["sum"] %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>

    <section class="col-md-6">
      <h3>Top Alarms</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Service</th>
            <th># Alerts</th>
          </tr>
        </thead>
        <tbody>
          <% @stats.alerts_by_service.each do |service| %>
            <tr>
              <td>
                <%= service["_id"] %>
              </td>
              <td>
                <span class="badge"><%= service["sum"] %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>

  </content>
</div>
